<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp231.s5g2.tindeappproject">
    <!-- camera permission from Kristine's -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- camera permission from Kristine's -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" "
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".activity.ViewProfileActivity"></activity>
        <activity android:name=".activity.JoiningGroupRoom" />
        <activity android:name=".activity.ChangePreferenceActivity" />
        <activity android:name=".activity.CreateUserActivity" />
        <activity android:name=".activity.EditAccountActivity" />

        <!-- Home Screen -->
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Restaurant Activities -->
        <activity android:name=".activity.DisplayRestaurantActivity" />
        <activity android:name=".activity.AddDishesActivity" />
        <activity android:name=".activity.CreateRestaurantActivity" />

        <!-- Finding Match Activities -->
        <activity android:name=".activity.FindingMatchHomeActivity" />
        <activity
            android:name=".activity.FindingMatchActivity"
            android:label="Main Menu"
            android:parentActivityName=".activity.FindingMatchHomeActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />

        <!-- Group Room Activities -->
        <activity android:name=".activity.MainGroupRoomActivity" />
        <activity android:name=".activity.GroupRoomInfoActivity" /> <!-- Main -->
        <activity android:name=".activity.HomeActivity" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>