<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mpacleb301082263.foodtinder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodTinderGroupRoom">
        <activity android:name=".FindingMatchActivity"></activity>
        <activity android:name=".FindingMatchHomeActivity" />
        <activity
            android:name=".GroupRoomInfoActivity"
            android:label="Group Information"
            android:parentActivityName=".MainGroupRoomActivity" />
        <activity
            android:name=".MainGroupRoomActivity"
            android:label="Main Group Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>